/* 
Project Name: LOW JEWELRY
Client: LOW
Author: Jennifer Spriggs
*/

/******************************************
/* SASS VARIABLES                   
/*******************************************/
$font-stack: ;
$primary-color ;

/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
	width: 960px;
	margin: auto;
}

header {

}

footer {
}

.navbar-default {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: #FFF;
}

.navbar-nav>li {
    font-weight: 400;
    font-size: 14px;
}

table {
    margin-top: 5%;
}

/******************************************
/* IMAGES                
/*******************************************/

.jumbotron {
    margin-bottom: 0px;
    background-image: url(../images/BILLBOARD1.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron img.logo {
    height: 360px;
    margin: 0% 0% 0% 3%;
}

#lookbook-ads {
    display: -webkit-inline-box;
    margin: 0% 0% 0% 10%;
}

#lookbook-ads .AD1 {

    background-image: url(../images/LOWBANNERS-07.png);
    height: 560px; 
    width: 310px;
    background-size: 310px 560px;
    background-repeat: no-repeat;
    margin: 0px 10px 0px 0px;
}

#lookbook-ads .AD2 {

    background-image: url(../images/LOWBANNERS-08.png);
    height: 560px; 
    width: 310px;
    background-size: 310px 560px;
    background-repeat: no-repeat;
    margin: 0px 10px 0px 0px;
}

#lookbook-ads .AD3 {

    background-image: url(../images/LOWBANNERS-09.png);
    height: 560px; 
    width: 310px;
    background-size: 310px 560px;
    background-repeat: no-repeat;
    margin: 0px 10px 0px 0px;
}

footer .NewBottom img {
    height: 20px;
    margin: 0% 0% 0% -38%;
    padding: 0% 20% 0% 0%;
}

/******************************************
/* SHOP IMAGES                
/*******************************************/

#shop-images {
    display: -webkit-inline-box;
}

#shop-images .SHOP1 {
    background-image: url(../shopimages/Arc+Bracelet.jpg);
    height: 300px;
    width: 375px;
    background-size: 375px 300px;
    background-repeat: no-repeat;
}

#shop-images .SHOP2 {
    background-image: url(../shopimages/ARC+RING.jpg);
    height: 300px;
    width: 375px;
    background-size: 375px 300px;
    background-repeat: no-repeat;
}

#shop-images .SHOP3 {
    background-image: url(../shopimages/cross+ring2.jpg);
    height: 300px;
    width: 375px;
    background-size: 375px 300px;
    background-repeat: no-repeat;
}

#shop-images .SHOP4 {
    background-image: url(../shopimages/Moon+Ring.jpg);
    height: 300px;
    width: 375px;
    background-size: 375px 300px;
    background-repeat: no-repeat;
}

#shop-images .SHOP5 {
    background-image: url(../shopimages/RUBY+NECK.jpg);
    height: 300px;
    width: 375px;
    background-size: 375px 300px;
    background-repeat: no-repeat;
}

#shop-images .SHOP6 {
    background-image: url(../shopimages/SPIKE+NECKLACE.jpg);
    height: 300px;
    width: 375px;
    background-size: 375px 300px;
    background-repeat: no-repeat;
}

#shop-images .SHOP7 {
    background-image: url(../shopimages/spike+ring2.jpg);
    height: 300px;
    width: 375px;
    background-size: 375px 300px;
    background-repeat: no-repeat;
}

#shop-images .SHOP8 {
    background-image: url(../shopimages/X+pendant.jpg);
    height: 300px;
    width: 375px;
    background-size: 375px 300px;
    background-repeat: no-repeat;
}

#shop-images .SHOP9 {
    background-image: url(../shopimages/X+ring.jpg);
    height: 300px;
    width: 375px;
    background-size: 375px 300px;
    background-repeat: no-repeat;
}

/******************************************
/* FOOTER                
/*******************************************/

form {
    margin: 5% 0% 0% 30%;
}

button, input {
    border: none;
    background-color: #dfe0de;
    width: 40%;
    padding: 1%;
    font-size: 14px;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    width: 12%;
    background-color: #FFF;
}


